@import "@/app/styles/_colors.module.scss";

.customer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.5vw;

    .profile {
        width: 12.5vw;
        max-width: 12.5vw;
        max-width: 12.5vw;
        height: 12.5vw;
        min-height: 12.5vw;
        max-height: 12.5vw;
        border-radius: 50%;
        object-fit: cover;
    }

    & > p:first-of-type {
        font-weight: bold;
        color: $primary-100;
        font-size: 1.25vw;
        padding-top: 1.5vw;
    }

    & > p:nth-of-type(2) {
        font-weight: 400;
        color: $gray-500;
        font-size: 1.25vw;
    }
}

@media (max-width: 480px) {
    .customer {
        row-gap: 1vw;
    
        .profile {
            width: 17vw;
            max-width: 17vw;
            max-width: 17vw;
            height: 17vw;
            min-height: 17vw;
            max-height: 17vw;
        }
    
        & > p:first-of-type {
            font-size: 3.3vw;
            padding-top: 1.5vw;
        }
    
        & > p:nth-of-type(2) {
            font-size: 2.8vw;
        }
    }
}