.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0.5vw;

    .logo {
        width: 4.5vw;
    }

    h1 {
        font-size: 2.5vw;
        font-weight: bold;
    }
}

@media (max-width: 480px) {
    .header {
        column-gap: 0.5vw;
    
        .logo {
            width: 10vw;
        }
    
        h1 {
            font-size: 4.8vw;
        }
    }
}