@import "@/app/styles/_colors.module.scss";

.overview {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 5.5vw 0 15vw;
    row-gap: 6.3vw;

    .header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .boxes {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 4.3vw;

        .box {
            width: 25.35vw;
            height: 39vw;
            background-color: $secondary-50;
            border-radius: 1.18vw;
            color: #000000;
            text-align: center;
            padding: 2.35vw 2.35vw 1.18vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 1.2vw;

            div {
                border: 3px solid #000000;
                border-radius: 0.6vw;
                width: 9vw;
                height: 9vw;
                max-width: 9vw;
                min-width: 9vw;
                max-height: 9vw;
                min-height: 9vw;
                display: flex;
                justify-content: center;
                align-items: center;

                .icon {
                    font-size: 5vw;
                }
            }

            h2 {
                font-weight: bold;
                font-size: 1.85vw;
            }

            span {
                color: $gray-600;
                font-size: 1.4vw;
                font-weight: 500;
            }

            p {
                font-size: 1.4vw;
                text-align: justify;
            }
        }
    }
}

@media (max-width: 480px) {
    .overview {
        padding: 12.5vw 0 15vw;
        row-gap: 6.3vw;
    
        .header {
            justify-content: center;
        }
    
        .boxes {
            flex-direction: column;
            row-gap: 4.8vw;
    
            .box {
                width: 75%;
                height: max-content;
                border-radius: 3.5vw;
                padding: 6vw;
                row-gap: 3.5vw;
    
                div {
                    border-radius: 1.6vw;
                    width: 17vw;
                    height: 17vw;
                    max-width: 17vw;
                    min-width: 17vw;
                    max-height: 17vw;
                    min-height: 17vw;
    
                    .icon {
                        font-size: 10vw;
                    }
                }
    
                h2 {
                    font-size: 3.7vw;
                }
    
                span {
                    font-size: 3.7vw;
                }
    
                p {
                    font-size: 3.7vw;
                }
            }
        }
    }
}